# This is an OpenAPI Specification (https://swagger.io/specification/)
# for nhs-website-content-api owned by NHS Digital (https://digital.nhs.uk/)
openapi: "3.0.0"
info:
  title: "nhs-website-content-api"
  version: "Computed and injected at build time by `scripts/set_version.py`"
  description: |
    ## Overview
    Use this API to get page content from the [NHS website](https://www.nhs.uk)

    You can reuse the following content from the NHS website:
      * health conditions
      * medicines
      * pregnancy
      * mental health
      * live well
      * common health questions
      * information about NHS services

    You cannot currently use this API to:
      * [find services near you](https://www.nhs.uk/nhs-services/services-near-you/)
      * [check ratings and reviews of organisations](https://developer.api.nhs.uk/nhs-api/documentation/comments)

    ## Who can use this API
    Anyone can use this API. Users need to agree to our [terms and conditions](https://developer.api.nhs.uk/about/terms)

    ## Related APIs
    The following APIs also give access to data from the NHS website:
      - Service Search API
      - Ratings and Reviews API

    ## API status and roadmap
    This API has moved from the nhs.uk developer API website. It is currently in development. If you are an existing user, you need to sign up for the API in the new API platform.

    ## Service level

    This API is a [gold service](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#service-levels), meaning that it is operational and supported 24 x 7 x 365

    ## Technology
    This API is [RESTful](https://digital.nhs.uk/developer/guides-and-documentation/our-api-technologies#basic-rest).

    Page objects conform to global [schema.org](https://schema.org/) standards.

    ## Network access
    No special network access is required for this API. It is available over the internet.

    ## Security and authorisation
    This API is [application-restricted](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#application-restricted-apis), meaning we authenticate the calling application but not the end user.

    You must provide a API key in the header or as a query parameter in requests.

    ## Environments and testing
    | Environment       | Base URL                                                               |
    | ----------------- | ---------------------------------------------------------------------- |
    | Integration test  | `https://int.api.service.nhs.uk/nhs-website-content/`                  |
    | Production        | `https:/api.service.nhs.uk/nhs-website-content/`                       |

    Integration testing
    Our integration test environment:

    * is for formal integration testing.
    * includes application authentication
    * contains a replica of our live data, but has a reduced call rate

    ## Onboarding
    You need to sign up via the API platform to recieve your key.
    (TODO add more details here)

    ## Errors

    We have standard error codes for 200 to 299 if it succeeded, including code 202 if it was accepted by an API that needs to wait for further action

    Currently, our Akamai cache provides errors in the form of a webpage.
    In future we plan to serve error codes via the API.

    Errors specific to each endpoint are shown in the endpoints section, under response. See our [reference guide](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#http-status-codes) for more on errors.

  contact:
    name: "nhs-website-content-api API Support"
    url: "https://digital.nhs.uk/developer/help-and-support"
    email: api.management@nhs.net
servers:
  - url: "https://int.api.service.nhs.uk/nhs-website-content"
    description: Integration test environment.
  - url: "https://api.service.nhs.uk/nhs-website-content"
    description: Production environment.
paths:
  /conditions:
    parameters:
      - $ref: "#/components/parameters/subscription-key"
    get:
      summary: Get all pages in the [Health A to Z](https://www.nhs.uk/conditions)
      operationId: get-conditions
      description: |
        ## Overview
        Use this endpoint to get details of pages in the [Health A to Z](https://www.nhs.uk/conditions/).

        Passing in no parameters returns all pages under 'conditions'.

        The response is limited to 25 child pages and is paginated.

        You can filter using various combinations of options.

        | Query parameter   | Description                                                            | Type        |
        | ----------------- | ---------------------------------------------------------------------- | ----------- |
        | order             | Order by 'newest' or 'oldest'                                          | string      |
        | page              | Page number, used to filter paginated results                          | int         |
        | category          | Filters child pages by letters A-Z.                                    | string      |
        | synonyms          | Include multiple listings for pages with more than one name            | boolean     |
        | genre             | Filters by condition, guide or hub.                                    | string      |
        | childArticles     | Include child pages of a topic within results under property subjectOf | boolean     |
        | status            | "published" or "unpublished"                                           | string      |

      parameters:
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/category"
        - $ref: "#/components/parameters/synonyms"
        - $ref: "#/components/parameters/genre"
        - $ref: "#/components/parameters/childArticles"
        - $ref: "#/components/parameters/status"
      responses:
        "200":
          description: |
            A valid query for the conditions.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/schema+json:
              schema:
                $ref: "#/components/schemas/Conditions"
              example:
                $ref: components/examples/Conditions.json
  /conditions/*:
    parameters:
      - $ref: "#/components/parameters/subscription-key"
    get:
      summary: Get details of condition page
      operationId: get-condition-page
      description: |
        ## Overview
        There is an endpoint for each page under the Health A to Z for example https://www.nhs.uk/conditions/chickenpox

        This can be used to get specific information about individual topics.

        There is only one query parameter for these pages:

        | Query parameter   | Description                                                            | Type        |
        | ----------------- | ---------------------------------------------------------------------- | ----------- |
        | modules           | If topic is modularised, only return these modules                     | boolean     |

        # Modularisation
        We modularise some of our content, meaning that individual parts of the page can be reused. If a page is modularised, content appears in the `hasPart` field.
      parameters:
        - $ref: "#/components/parameters/modules"
    responses:
      "200":
        description: |
          A valid query which returns a page object for the chosen page
        headers:
          X-Correlation-Id:
            $ref: "#/components/headers/X-Correlation-Id"
          X-Request-Id:
            $ref: "#/components/headers/X-Request-Id"
        content:
          application/schema+json:
            schema:
              $ref: "#/components/schemas/ConditionPage"
            example:
              $ref: components/examples/ConditionPage.json
  /medicines:
    parameters:
      - $ref: "#/components/parameters/subscription-key"
    get:
      summary: Get all pages in the [Medicines A to Z](https://www.nhs.uk/medicines)
      operationId: get-medicines
      description: |
        ## Overview
        Use this endpoint to get details of pages in the Medicines A to Z.

        Passing in no parameters will return all pages under 'medicines'.

        The response is limited to 25 child pages and is paginated.

        You can filter using various combinations of options.

        | Query parameter   | Description                                                              | Type        |
        | ----------------- | ----------------------------------------------------------------------   | ----------- |
        | startDate         | Gets medicines which are equal or greater than the startDate (see below) | string      |
        | endDate           | Gets medicines which are equal or greater than the endDate (see below)   | string      |
        | order             | Order by 'newest' or 'oldest'                                            | string      |
        | page              | Page number, used to filter paginated results                            | int         |
        | category          | Filters child pages by letters A-Z.                                      | string      |
        | orderBy           | works alongside startDate and endDate (details below)                    | string      |

        ## Ordering by dates

        The orderBy parameter can be `dateModified`, `lastReviewed` and `nextReview`. By default if any of the `orderBy` parameters are chosen the results will be newest first.

        However, the `orderBy` parameter can be used with the `startDate` and `endDate` parameters to filter down to the desired date. `startDate` and `endDate` should be given in the YYYY-MM-DD format.

        for example `https://api.nhs.uk/medicines?subscription-key=xxx&startDate=2022-01-01&orderBy=dateModified`

      parameters:
        - $ref: "#/components/parameters/startDate"
        - $ref: "#/components/parameters/endDate"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/category"
        - $ref: "#/components/parameters/orderBy"
      responses:
        "200":
          description: |
            A valid query for medicines.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/schema+json:
              schema:
                $ref: "#/components/schemas/Medicines"
              example:
                $ref: components/examples/Medicines.json
  /medicines/*:
    parameters:
      - $ref: "#/components/parameters/apikey"
    get:
      summary: Get specific medicines pages
      operationId: get-medicine-page
      description: |
        ## Overview
        There is an endpoint for each page under the Medicines A to Z e.g. https://www.nhs.uk/medicines/amoxicillin

        This can be used to get specific information about individual medicines.
      responses:
        "200":
          description: |
            A valid query for medicines.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/schema+json:
              schema:
                $ref: "#/components/schemas/Medicines"
              example:
                $ref: components/examples/Medicines.json
  /mental-health:
    parameters:
      - $ref: "#/components/parameters/subscription-key"
    get:
      summary: Get content from the mental health hub
      operationId: get-mental-health
      description: |
        ## Overview

        The [mental health hub](https://www.nhs.uk/mental-health/) contains a number of navigational and content pages.

        The content of the page can be taken from the `mainEntityOfPage` part of the response. This includes the navigational links to child pages.

        At the top level, modularised content of child pages is highlighted by the `hasPart` field. In child pages, only the individual page will be shown.

      responses:
        "200":
          description: |
            A valid query for the mental health hub.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/schema+json:
              schema:
                $ref: "#/components/schemas/MentalHealth"
              example:
                $ref: components/examples/MentalHealthPage.json
  /pregnancy:
    parameters:
      - $ref: "#/components/parameters/subscription-key"
    get:
      summary: Get content from the pregnancy hub
      operationId: get-pregnancy
      description: |
        ## Overview

        The pregnancy hub contains a number of navigational and content pages.

        The content of the page can be taken from `mainEntityOfPage`. This includes the navigational patterns to child pages

        At the top level, child modularised content is highlighted by the `hasPart` field. In child pages, only the individual page will be highlighted

      responses:
        "200":
          description: |
            A valid query for the pregnancy hub.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/schema+json:
              schema:
                $ref: "#/components/schemas/Pregnancy"
              example:
                $ref: components/examples/PregnancyPage.json
  /common-health-questions:
    parameters:
      - $ref: "#/components/parameters/subscription-key"
    get:
      summary: Get content from the common health questions hub.
      operationId: get-common-health-questions
      description: |
        ## Overview

        The [common health questions hub](https://www.nhs.uk/common-health-questions/) contains a number of navigational and content pages.

        The main page contains significant links to topic pages, which then contain significant links to the content pages

        Content pages use the 'question' schema.org [question](https://schema.org/Question) property.

      responses:
        "200":
          description: |
            A valid query for the common health questions pages.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/schema+json:
              schema:
                $ref: "#/components/schemas/CommonHealthQuestions"
              example:
                $ref: components/examples/CommonHealthQuestions.json
  /live-well:
    parameters:
      - $ref: "#/components/parameters/subscription-key"
    get:
      summary: Get content from the Live Well hub.
      operationId: get-common-health-questions
      description: |
        ## Overview

        The [Live Well hub](https://www.nhs.uk/live-well/) contains a number of navigational and content pages.

        The content of the page can be taken from the `mainEntityOfPage` part of the response. This includes the navigational links to child pages.

        At the top level, modularised content of child pages is highlighted by the `hasPart` field. In child pages, only the individual page will be shown.
      responses:
        "200":
          description: |
            A valid query for the Live Well pages.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/X-Correlation-Id"
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/schema+json:
              schema:
                $ref: "#/components/schemas/LiveWell"
              example:
                $ref: components/examples/LiveWell.json
