# This is an OpenAPI Specification (https://swagger.io/specification/)
# for the nhs-website-content-api owned by NHS England (https://digital.nhs.uk/)
openapi: "3.0.0"
info:
  title: "nhs-website-content-api"
  version: "Computed and injected at build time by `scripts/set_version.py`"
  description: |
    ## Overview
    This API provides content from the [NHS website](https://www.nhs.uk) as JSON, to be consumed programmatically and used by your application.

    You can reuse the content from the following sections of the NHS website:
      * [Health A to Z (conditions)](https://www.nhs.uk/conditions/)
      * [Medicines A to Z](https://www.nhs.uk/medicines/)
      * [Pregnancy](https://www.nhs.uk/pregnancy/)
      * [Mental health](https://www.nhs.uk/mental-health/)
      * [Live Well](https://www.nhs.uk/live-well/)
      * [Common health questions](https://www.nhs.uk/common-health-questions/)
      * [NHS services](https://www.nhs.uk/nhs-services/).

    You cannot use this API to:
      * [find services near you](https://www.nhs.uk/nhs-services/services-near-you/)
      * get Ratings and Reviews of NHS services.

    ## Who can use this API
    Anyone can use this API for any purpose, so long as they include an attribution as per our [terms and conditions](https://developer.api.nhs.uk/about/terms).

    ## API status
    This API has moved from the [NHS website developer portal](https://developer.api.nhs.uk/). 
    It is currently [in development](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#statuses).

    ## Service level
    This API is a [gold service](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#service-levels), meaning that it is operational and supported 24 hours a day, 365 days a year.

    ## Technology
    This API is [RESTful](https://digital.nhs.uk/developer/guides-and-documentation/our-api-technologies#basic-rest).

    Page objects conform to global [schema.org](https://schema.org/) standards.

    ## Network access
    This API is available on the internet and, indirectly, on the [Health and Social Care Network (HSCN)](https://digital.nhs.uk/services/health-and-social-care-network).

    To use this API with [NHS smartcards](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/nhs-smartcards-for-developers), the end user needs an HSCN connection, although internet-facing alternatives to smartcards are available.

    For more details see [Network access for APIs](https://digital.nhs.uk/developer/guides-and-documentation/network-access-for-apis).

    ## Security and authorisation

    This access mode is [application-restricted](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#application-restricted-apis), meaning we authenticate the calling application but not the end user.

    To use this access mode, use the following security pattern:
    * [Application-restricted RESTful API - API key authentication](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/application-restricted-restful-apis-api-key-authentication).

    ## Errors
    We use standard HTTP status codes to show whether an API request succeeded or not. They are usually in the range:
      * 200 to 299 if it succeeded, including code 202 if it was accepted by an API that needs to wait for further action
      * 400 to 499 if it failed because of a client error by your application
      * 500 to 599 if it failed because of an error on our server.

    Errors specific to each endpoint are shown in the endpoints section, under response. See our [reference guide](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#http-status-codes) for more on errors.

    ## Environments and testing
    | Environment       | Base URL                                                               |
    | ----------------- | ---------------------------------------------------------------------- |
    | Sandbox           | `https://sandbox.api.service.nhs.uk/nhs-website-content/`              |
    | Integration test  | `https://int.api.service.nhs.uk/nhs-website-content/`                  |
    | Production        |  Not available yet                                                     |

    ### Sandbox testing
    Our [sandbox environment](https://digital.nhs.uk/developer/guides-and-documentation/testing#sandbox-testing):
    * is for early developer testing
    * only covers a limited set of scenarios
    * is open access, so does not allow you to test authorisation

    For details of sandbox test scenarios, or to try out the sandbox using our 'Try this API' feature, see the documentation for each endpoint.

    Alternatively, you can try out the sandbox using our Postman collection:

    [![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/222854-9766f4d9-e6b9-41ec-8949-ef3758316de0)

    ### Integration testing
    Our [integration test environment](https://digital.nhs.uk/developer/guides-and-documentation/testing#integration-testing):
    * is for formal integration testing
    * includes authorisation via an API Key
         
    For more details see [integration testing with our RESTful APIs](https://digital.nhs.uk/developer/guides-and-documentation/testing#integration-testing-with-our-restful-apis).

    ## Onboarding
    The onboarding journey for this API is currently in development.

    Additional onboarding information exists on the [developer hub](https://digital.nhs.uk//developer/api-catalogue/nhs-syndicated-content/onboarding-support-information).

  contact:
    name: "nhs-website-content-api API Support"
    url: "https://digital.nhs.uk/developer/help-and-support"
    email: api.management@nhs.net
servers:
  - url: "https://int.api.service.nhs.uk/nhs-website-content"
    description: Integration test environment.
  - url: "https://api.service.nhs.uk/nhs-website-content"
    description: Production environment.
paths:
  /conditions:
    parameters:
      - $ref: "#/components/parameters/apikey"
      - $ref: "#/components/parameters/order"
      - $ref: "#/components/parameters/page"
      - $ref: "#/components/parameters/category"
      - $ref: "#/components/parameters/synonyms"
      - $ref: "#/components/parameters/childArticles"
      - $ref: "#/components/parameters/status"
    get:
      summary: Get all pages in the Health A to Z
      operationId: get-conditions
      description: |
        ## Overview
        Use this endpoint to get details of pages in the [Health A to Z](https://www.nhs.uk/conditions/).

        Passing in no parameters returns all pages under 'conditions'.

        The response is limited to 25 child pages and is paginated.

        There are a number of query parameters that filter the output.

      responses:
        "200":
          description: |
            A valid query for the conditions.
          content:
            application/schema+json:
              schema:
                $ref: components/schemas/WebPage.json
              example:
                $ref: components/examples/ConditionsHealthAToZ.json
        "4XX":
          description: |
            An error occurred as follows:

            | HTTP status | Error code                 | Description |
            | ----------- | -------------------------- | --------------------------------------------- |
            | 401         | ACCESS_DENIED              | ApiKey missing, invalid or expired, or calling application not configured for this operation. |
            | 403         | ACCESS_DENIED              | User cannot perform this action. |
            | 404         | RESOURCE_NOT_FOUND         | Page not found. |
            | 429         | TOO_MANY_REQUESTS          | You have exceeded your application's [rate limit](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#rate-limits). |
  /conditions/*:
    parameters:
      - $ref: "#/components/parameters/apikey"
      - $ref: "#/components/parameters/modules"
    get:
      summary: Get details of a condition page
      operationId: get-condition-page
      description: |
        ## Overview
        There is an endpoint for each page under the Health A to Z, for example https://www.nhs.uk/conditions/chickenpox.

        This can be used to get specific information about individual topics.

        There is only one query parameter for these pages:

        | Query parameter   | Description                                                            | Type        |
        | ----------------- | ---------------------------------------------------------------------- | ----------- |
        | modules           | If topic is modularised, only return these modules                     | boolean     |

        # Modularisation
        We modularise some of our content, meaning that individual parts of the page can be reused. If a page is modularised, content appears in the `hasPart` field.
      responses:
        "200":
          description: |
            A valid query which returns a page object for the chosen page
          content:
            application/schema+json:
              schema:
                $ref: components/schemas/WebPage.json
              example:
                $ref: components/examples/ConditionsContentPage.json
        "4XX":
          description: |
            An error occurred as follows:

            | HTTP status | Error code                 | Description |
            | ----------- | -------------------------- | --------------------------------------------- |
            | 401         | ACCESS_DENIED              | ApiKey missing, invalid or expired, or calling application not configured for this operation. |
            | 403         | ACCESS_DENIED              | User cannot perform this action. |
            | 404         | RESOURCE_NOT_FOUND         | Page not found. |
            | 429         | TOO_MANY_REQUESTS          | You have exceeded your application's [rate limit](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#rate-limits). |
  /medicines:
    parameters:
      - $ref: "#/components/parameters/apikey"
      - $ref: "#/components/parameters/startDate"
      - $ref: "#/components/parameters/endDate"
      - $ref: "#/components/parameters/order"
      - $ref: "#/components/parameters/page"
      - $ref: "#/components/parameters/category"
      - $ref: "#/components/parameters/orderBy"
    get:
      summary: Get all pages in the Medicines A to Z
      operationId: get-medicines
      description: |
        ## Overview
        Use this endpoint to get details of pages in the [Medicines A to Z](https://www.nhs.uk/medicines).

        Passing in no parameters returns all pages under 'medicines'.

        The response is limited to 25 child pages and is paginated.

        There are a number of query parameters that filter the output.

        ## Ordering by dates

        The `orderBy` parameter can be `dateModified`, `lastReviewed` and `nextReview`. By default if any of the `orderBy` parameters are chosen the results are sorted by newest first.

        However, the `orderBy` parameter can be used with the `startDate` and `endDate` parameters to filter down to the desired date. `startDate` and `endDate` should be given in the YYYY-MM-DD format.

        For example `https://api.nhs.uk/medicines?startDate=2022-01-01&orderBy=dateModified`

      responses:
        "200":
          description: |
            A valid query for medicines.
          content:
            application/schema+json:
              schema:
                $ref: components/schemas/WebPage.json
              example:
                $ref: components/examples/MedicinesAToZ.json
        "4XX":
          description: |
            An error occurred as follows:

            | HTTP status | Error code                 | Description |
            | ----------- | -------------------------- | --------------------------------------------- |
            | 401         | ACCESS_DENIED              | ApiKey missing, invalid or expired, or calling application not configured for this operation. |
            | 403         | ACCESS_DENIED              | User cannot perform this action. |
            | 404         | RESOURCE_NOT_FOUND         | Page not found. |
            | 429         | TOO_MANY_REQUESTS          | You have exceeded your application's [rate limit](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#rate-limits). |
  /medicines/*:
    parameters:
      - $ref: "#/components/parameters/apikey"
    get:
      summary: Get specific medicine page
      operationId: get-medicine-page
      description: |
        ## Overview
        There is an endpoint for each page under the Medicines A to Z, for example https://www.nhs.uk/medicines/amoxicillin.

        This can be used to get specific information about individual medicines.
      responses:
        "200":
          description: |
            A valid query for medicines.
          content:
            application/schema+json:
              schema:
                $ref: components/schemas/WebPage.json
              example:
                $ref: components/examples/MedicinesContentPage.json
        "4XX":
          description: |
            An error occurred as follows:

            | HTTP status | Error code                 | Description |
            | ----------- | -------------------------- | --------------------------------------------- |
            | 401         | ACCESS_DENIED              | ApiKey missing, invalid or expired, or calling application not configured for this operation. |
            | 403         | ACCESS_DENIED              | User cannot perform this action. |
            | 404         | RESOURCE_NOT_FOUND         | Page not found. |
            | 429         | TOO_MANY_REQUESTS          | You have exceeded your application's [rate limit](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#rate-limits). |
  /mental-health:
    parameters:
      - $ref: "#/components/parameters/apikey"
    get:
      summary: Get content from the mental health hub
      operationId: get-mental-health
      description: |
        ## Overview

        The [mental health hub](https://www.nhs.uk/mental-health/) contains a number of navigational and content pages.

        The content of the page is taken from the `mainEntityOfPage` part of the response. This includes the navigational links to child pages.

        At the top level, modularised content of child pages is highlighted by the `hasPart` field. In child pages, only the individual page is shown.

      responses:
        "200":
          description: |
            A valid query for the mental health hub.
          content:
            application/schema+json:
              schema:
                $ref: components/schemas/WebPage.json
              example:
                $ref: components/examples/MentalHealthHubPage.json
        "4XX":
          description: |
            An error occurred as follows:

            | HTTP status | Error code                 | Description |
            | ----------- | -------------------------- | --------------------------------------------- |
            | 401         | ACCESS_DENIED              | ApiKey missing, invalid or expired, or calling application not configured for this operation. |
            | 403         | ACCESS_DENIED              | User cannot perform this action. |
            | 404         | RESOURCE_NOT_FOUND         | Page not found. |
            | 429         | TOO_MANY_REQUESTS          | You have exceeded your application's [rate limit](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#rate-limits). |
  /pregnancy:
    parameters:
      - $ref: "#/components/parameters/apikey"
    get:
      summary: Get content from the pregnancy hub
      operationId: get-pregnancy
      description: |
        ## Overview

        The [pregnancy hub](https://www.nhs.uk/pregnancy/) contains a number of navigational and content pages.

        The content of the page can be taken from `mainEntityOfPage`. This includes the navigational patterns to child pages.

        At the top level, child modularised content is highlighted by the `hasPart` field. In child pages, only the individual page is highlighted.

      responses:
        "200":
          description: |
            A valid query for the pregnancy hub.
          content:
            application/schema+json:
              schema:
                $ref: components/schemas/WebPage.json
              example:
                $ref: components/examples/PregnancyHubPage.json
        "4XX":
          description: |
            An error occurred as follows:

            | HTTP status | Error code                 | Description |
            | ----------- | -------------------------- | --------------------------------------------- |
            | 401         | ACCESS_DENIED              | ApiKey missing, invalid or expired, or calling application not configured for this operation. |
            | 403         | ACCESS_DENIED              | User cannot perform this action. |
            | 404         | RESOURCE_NOT_FOUND         | Page not found. |
            | 429         | TOO_MANY_REQUESTS          | You have exceeded your application's [rate limit](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#rate-limits). |
  /common-health-questions:
    parameters:
      - $ref: "#/components/parameters/apikey"
    get:
      summary: Get content from the common health questions hub
      operationId: get-common-health-questions
      description: |
        ## Overview

        The [common health questions hub](https://www.nhs.uk/common-health-questions/) contains a number of navigational and content pages.

        The main page contains significant links to topic pages, which then contain significant links to the content pages.

        Content pages use the 'question' schema.org [question](https://schema.org/Question) property.

      responses:
        "200":
          description: |
            A valid query for the common health questions pages.
          content:
            application/schema+json:
              schema:
                $ref: components/schemas/WebPage.json
              example:
                $ref: components/examples/CommonHealthQuestionsHubPage.json
        "4XX":
          description: |
            An error occurred as follows:

            | HTTP status | Error code                 | Description |
            | ----------- | -------------------------- | --------------------------------------------- |
            | 401         | ACCESS_DENIED              | ApiKey missing, invalid or expired, or calling application not configured for this operation. |
            | 403         | ACCESS_DENIED              | User cannot perform this action. |
            | 404         | RESOURCE_NOT_FOUND         | Page not found. |
            | 429         | TOO_MANY_REQUESTS          | You have exceeded your application's [rate limit](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#rate-limits). |
  /live-well:
    parameters:
      - $ref: "#/components/parameters/apikey"
    get:
      summary: Get content from the Live Well hub.
      operationId: get-live-well
      description: |
        ## Overview

        The [Live Well hub](https://www.nhs.uk/live-well/) contains a number of navigational and content pages.

        The content of the page can be taken from the `mainEntityOfPage` part of the response. This includes the navigational links to child pages.

        At the top level, modularised content of child pages is highlighted by the `hasPart` field. In child pages, only the individual page is shown.
      responses:
        "200":
          description: |
            A valid query for the Live Well pages.
          content:
            application/schema+json:
              schema:
                $ref: components/schemas/WebPage.json
              example:
                $ref: components/examples/LiveWellHubPage.json
        "4XX":
          description: |
            An error occurred as follows:

            | HTTP status | Error code                 | Description |
            | ----------- | -------------------------- | --------------------------------------------- |
            | 401         | ACCESS_DENIED              | ApiKey missing, invalid or expired, or calling application not configured for this operation. |
            | 403         | ACCESS_DENIED              | User cannot perform this action. |
            | 404         | RESOURCE_NOT_FOUND         | Page not found. |
            | 429         | TOO_MANY_REQUESTS          | You have exceeded your application's [rate limit](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#rate-limits). |
components:
  headers:
    apikey:
      $ref: components/schemas/ApiKey.yaml
  parameters:
    apikey:
      name: apikey
      in: query
      description: The API key required to send a successful request.
      required: true
      schema:
        type: string
        example: "aTfjAa9vHfnmaQNABgSXGFCS9SFVMLWc"
    startDate:
      name: startDate
      in: query
      description: Earliest date filter, works with orderBy.
      required: false
      schema:
        type: string
        example: "2020-01-01"
    endDate:
      name: endDate
      in: query
      description: Latest date filter, works with orderBy.
      required: false
      schema:
        type: string
        example: "2021-01-01"
    order:
      name: order
      in: query
      description: Order by "newest" or "oldest".
      required: false
      schema:
        type: string
        example: "newest"
    page:
      name: page
      in: query
      description: Page number, used to filter paginated results.
      required: false
      schema:
        type: string
        example: "1"
    category:
      name: category
      in: query
      description: Filters child pages by letters "A" to "Z".
      required: false
      schema:
        type: string
        example: "A"
    orderBy:
      name: orderBy
      in: query
      description: works alongside startDate and endDate. Options are "dateModified", "lastReviewed" and "nextReview".
      required: false
      schema:
        type: string
        example: "lastReviewed"
    synonyms:
      name: synonyms
      in: query
      description: Include multiple listings for pages with more than one name.
      required: false
      schema:
        type: boolean
        example: true
    childArticles:
      name: childArticles
      in: query
      description: Include child pages of a topic within results under property subjectOf.
      required: false
      schema:
        type: boolean
        example: true
    status:
      name: status
      in: query
      description: Filter by "published" or "unpublished".
      required: false
      schema:
        type: string
        example: "published"
    modules:
      name: modules
      in: query
      description: If topic is modularised, only return these modules.
      required: false
      schema:
        type: boolean
        example: true
