# This is an OpenAPI Specification (https://swagger.io/specification/)
# for nhs-website-content-api owned by NHS Digital (https://digital.nhs.uk/)
openapi: "3.0.0"
info:
  title: "nhs-website-content-api"
  version: "Computed and injected at build time by `scripts/set_version.py`"
  description: |
    ## Overview (Deploy Test - 05/10/2023)
    Use this API to get page content from the [NHS website](https://www.nhs.uk)

    You can reuse the following content from the NHS website:
      * health conditions
      * medicines
      * pregnancy
      * mental health
      * live well
      * common health questions
      * information about NHS services

    You cannot currently use this API to:
      * [find services near you](https://www.nhs.uk/nhs-services/services-near-you/)

    ## Who can use this API
    Anyone can use this API. Users need to agree to our [terms and conditions](https://developer.api.nhs.uk/about/terms)

    ## API status and roadmap
    This API has moved from the [NHS website developer portal](https://developer.api.nhs.uk/). It is currently [in development](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#statuses).

    ## Service level

    This API is a [gold service](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#service-levels), meaning that it is operational and supported 24 x 7 x 365

    ## Technology
    This API is [RESTful](https://digital.nhs.uk/developer/guides-and-documentation/our-api-technologies#basic-rest).

    Page objects conform to global [schema.org](https://schema.org/) standards.

    ## Network access
    This API is available on the internet and, indirectly, on the [Health and Social Care Network (HSCN)](https://digital.nhs.uk/services/health-and-social-care-network).

    To use this API with [NHS smartcards](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/nhs-smartcards-for-developers), the end user needs an HSCN connection, although internet-facing alternatives to smartcards are available.

    For more details see [Network access for APIs](https://digital.nhs.uk/developer/guides-and-documentation/network-access-for-apis).

    ## Security and authorisation

    This access mode is [application-restricted](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#application-restricted-apis), meaning we authenticate the calling application but not the end user.

    To use this access mode, use the following security pattern:
    * [Application-restricted RESTful API - API key authentication](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/application-restricted-restful-apis-api-key-authentication)

    ## Environments and testing
    | Environment       | Base URL                                                               |
    | ----------------- | ---------------------------------------------------------------------- |
    | Integration test  | `https://int.api.service.nhs.uk/nhs-website-content/`                  |
    | Production        |  Not available yet                                                     |

    ## Integration testing
    Our integration test environment:

    * is for formal integration testing.
    * includes application authentication
    * contains a replica of our live data, but has a [reduced call rate](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#rate-limits)

    ## Onboarding
    The onboarding journey for this API is currently in development.

    Additional onboarding information exists on the [developer hub](https://digital.nhs.uk//developer/api-catalogue/nhs-syndicated-content/onboarding-support-information)

    ## Errors
    We use standard HTTP status codes to show whether an API request succeeded or not. They are usually in the range:

    200 to 299 if it succeeded, including code 202 if it was accepted by an API that needs to wait for further action
    400 to 499 if it failed because of a client error by your application
    500 to 599 if it failed because of an error on our server
    For details of 2xx and 4xx responses for a specific API, see its API specification.

    Errors specific to each endpoint are shown in the endpoints section, under response. See our [reference guide](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#http-status-codes) for more on errors.

  contact:
    name: "nhs-website-content-api API Support"
    url: "https://digital.nhs.uk/developer/help-and-support"
    email: api.management@nhs.net
servers:
  - url: "https://int.api.service.nhs.uk/nhs-website-content"
    description: Integration test environment.
  - url: "https://api.service.nhs.uk/nhs-website-content"
    description: Production environment.
paths:
  /conditions:
    parameters:
      - $ref: "#/components/parameters/apiKey"
      - $ref: "#/components/parameters/order"
      - $ref: "#/components/parameters/page"
      - $ref: "#/components/parameters/category"
      - $ref: "#/components/parameters/synonyms"
      - $ref: "#/components/parameters/childArticles"
      - $ref: "#/components/parameters/status"
    get:
      summary: Get all pages in the Health A to Z
      operationId: get-conditions
      description: |
        ## Overview
        Use this endpoint to get details of pages in the [Health A to Z](https://www.nhs.uk/conditions/).

        Passing in no parameters returns all pages under 'conditions'.

        The response is limited to 25 child pages and is paginated.

        There are a number of query parameters that filter the output.

        | Query parameter   | Description                                                            | Type        |
        | ----------------- | ---------------------------------------------------------------------- | ----------- |
        | order             | Order by 'newest' or 'oldest'                                          | string      |
        | page              | Page number, used to filter paginated results                          | int         |
        | category          | Filters child pages by letters A-Z.                                    | string      |
        | synonyms          | Include multiple listings for pages with more than one name            | boolean     |
        | childArticles     | Include child pages of a topic within results under property subjectOf | boolean     |
        | status            | Filter by "published" or "unpublished"                                 | string      |

      responses:
        "200":
          description: |
            A valid query for the conditions.
          headers:
            apikey:
              $ref: "#/components/schemas/ApiKey"
          content:
            application/schema+json:
              schema:
                $ref: components/schemas/WebPage.json
              example:
                $ref: components/examples/ConditionsHealthAToZ.json
        "4XX":
          description: |
            An error occurred as follows:

            | HTTP status | Error code                 | Description |
            | ----------- | -------------------------- | --------------------------------------------- |
            | 401         | ACCESS_DENIED              | ApiKey missing, invalid or expired, or calling application not configured for this operation. |
            | 403         | ACCESS_DENIED              | User cannot perform this action. |
            | 404         | RESOURCE_NOT_FOUND         | Page not found. |
            | 429         | TOO_MANY_REQUESTS          | You have exceeded your application's [rate limit](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#rate-limits). |
  /conditions/*:
    parameters:
      - $ref: "#/components/parameters/apiKey"
      - $ref: "#/components/parameters/modules"
    get:
      summary: Get details of a condition page
      operationId: get-condition-page
      description: |
        ## Overview
        There is an endpoint for each page under the Health A to Z, for example https://www.nhs.uk/conditions/chickenpox.

        This can be used to get specific information about individual topics.

        There is only one query parameter for these pages:

        | Query parameter   | Description                                                            | Type        |
        | ----------------- | ---------------------------------------------------------------------- | ----------- |
        | modules           | If topic is modularised, only return these modules                     | boolean     |

        # Modularisation
        We modularise some of our content, meaning that individual parts of the page can be reused. If a page is modularised, content appears in the `hasPart` field.
      responses:
        "200":
          description: |
            A valid query which returns a page object for the chosen page
          headers:
            apiKey:
              $ref: "#/components/schemas/ApiKey"
          content:
            application/schema+json:
              schema:
                $ref: components/schemas/WebPage.json
              example:
                $ref: components/examples/ConditionsContentPage.json
        "4XX":
          description: |
            An error occurred as follows:

            | HTTP status | Error code                 | Description |
            | ----------- | -------------------------- | --------------------------------------------- |
            | 401         | ACCESS_DENIED              | ApiKey missing, invalid or expired, or calling application not configured for this operation. |
            | 403         | ACCESS_DENIED              | User cannot perform this action. |
            | 404         | RESOURCE_NOT_FOUND         | Page not found. |
            | 429         | TOO_MANY_REQUESTS          | You have exceeded your application's [rate limit](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#rate-limits). |
  /medicines:
    parameters:
      - $ref: "#/components/parameters/apiKey"
      - $ref: "#/components/parameters/startDate"
      - $ref: "#/components/parameters/endDate"
      - $ref: "#/components/parameters/order"
      - $ref: "#/components/parameters/page"
      - $ref: "#/components/parameters/category"
      - $ref: "#/components/parameters/orderBy"
    get:
      summary: Get all pages in the Medicines A to Z
      operationId: get-medicines
      description: |
        ## Overview
        Use this endpoint to get details of pages in the [Medicines A to Z](https://www.nhs.uk/medicines).

        Passing in no parameters returns all pages under 'medicines'.

        The response is limited to 25 child pages and is paginated.

        There are a number of query parameters that filter the output.

        | Query parameter   | Description                                                              | Type        |
        | ----------------- | ----------------------------------------------------------------------   | ----------- |
        | startDate         | Gets medicines which are equal or greater than the startDate (see below) | string      |
        | endDate           | Gets medicines which are equal or greater than the endDate (see below)   | string      |
        | order             | Order by 'newest' or 'oldest'                                            | string      |
        | page              | Page number, used to filter paginated results                            | int         |
        | category          | Filters child pages by letters A-Z.                                      | string      |
        | orderBy           | works alongside startDate and endDate (details below)                    | string      |

        ## Ordering by dates

        The `orderBy` parameter can be `dateModified`, `lastReviewed` and `nextReview`. By default if any of the `orderBy` parameters are chosen the results are sorted by newest first.

        However, the `orderBy` parameter can be used with the `startDate` and `endDate` parameters to filter down to the desired date. `startDate` and `endDate` should be given in the YYYY-MM-DD format.

        For example `https://api.nhs.uk/medicines?apiKey=xxx&startDate=2022-01-01&orderBy=dateModified`

      responses:
        "200":
          description: |
            A valid query for medicines.
          headers:
            apiKey:
              $ref: "#/components/schemas/ApiKey"
          content:
            application/schema+json:
              schema:
                $ref: components/schemas/WebPage.json
              example:
                $ref: components/examples/MedicinesAToZ.json
        "4XX":
          description: |
            An error occurred as follows:

            | HTTP status | Error code                 | Description |
            | ----------- | -------------------------- | --------------------------------------------- |
            | 401         | ACCESS_DENIED              | ApiKey missing, invalid or expired, or calling application not configured for this operation. |
            | 403         | ACCESS_DENIED              | User cannot perform this action. |
            | 404         | RESOURCE_NOT_FOUND         | Page not found. |
            | 429         | TOO_MANY_REQUESTS          | You have exceeded your application's [rate limit](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#rate-limits). |
  /medicines/*:
    parameters:
      - $ref: "#/components/parameters/apiKey"
    get:
      summary: Get specific medicines pages
      operationId: get-medicine-page
      description: |
        ## Overview
        There is an endpoint for each page under the Medicines A to Z, for example https://www.nhs.uk/medicines/amoxicillin

        This can be used to get specific information about individual medicines.
      responses:
        "200":
          description: |
            A valid query for medicines.
          headers:
            apiKey:
              $ref: "#/components/schemas/ApiKey"
          content:
            application/schema+json:
              schema:
                $ref: components/schemas/WebPage.json
              example:
                $ref: components/examples/MedicinesContentPage.json
        "4XX":
          description: |
            An error occurred as follows:

            | HTTP status | Error code                 | Description |
            | ----------- | -------------------------- | --------------------------------------------- |
            | 401         | ACCESS_DENIED              | ApiKey missing, invalid or expired, or calling application not configured for this operation. |
            | 403         | ACCESS_DENIED              | User cannot perform this action. |
            | 404         | RESOURCE_NOT_FOUND         | Page not found. |
            | 429         | TOO_MANY_REQUESTS          | You have exceeded your application's [rate limit](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#rate-limits). |
  /mental-health:
    parameters:
      - $ref: "#/components/parameters/apiKey"
    get:
      summary: Get content from the mental health hub
      operationId: get-mental-health
      description: |
        ## Overview

        The [mental health hub](https://www.nhs.uk/mental-health/) contains a number of navigational and content pages.

        The content of the page is taken from the `mainEntityOfPage` part of the response. This includes the navigational links to child pages.

        At the top level, modularised content of child pages is highlighted by the `hasPart` field. In child pages, only the individual page is shown.

      responses:
        "200":
          description: |
            A valid query for the mental health hub.
          headers:
            apiKey:
              $ref: "#/components/schemas/ApiKey"
          content:
            application/schema+json:
              schema:
                $ref: components/schemas/WebPage.json
              example:
                $ref: components/examples/MentalHealthHubPage.json
        "4XX":
          description: |
            An error occurred as follows:

            | HTTP status | Error code                 | Description |
            | ----------- | -------------------------- | --------------------------------------------- |
            | 401         | ACCESS_DENIED              | ApiKey missing, invalid or expired, or calling application not configured for this operation. |
            | 403         | ACCESS_DENIED              | User cannot perform this action. |
            | 404         | RESOURCE_NOT_FOUND         | Page not found. |
            | 429         | TOO_MANY_REQUESTS          | You have exceeded your application's [rate limit](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#rate-limits). |
  /pregnancy:
    parameters:
      - $ref: "#/components/parameters/apiKey"
    get:
      summary: Get content from the pregnancy hub
      operationId: get-pregnancy
      description: |
        ## Overview

        The pregnancy hub contains a number of navigational and content pages.

        The content of the page can be taken from `mainEntityOfPage`. This includes the navigational patterns to child pages.

        At the top level, child modularised content is highlighted by the `hasPart` field. In child pages, only the individual page is highlighted.

      responses:
        "200":
          description: |
            A valid query for the pregnancy hub.
          headers:
            apiKey:
              $ref: "#/components/schemas/ApiKey"
          content:
            application/schema+json:
              schema:
                $ref: components/schemas/WebPage.json
              example:
                $ref: components/examples/PregnancyHubPage.json
        "4XX":
          description: |
            An error occurred as follows:

            | HTTP status | Error code                 | Description |
            | ----------- | -------------------------- | --------------------------------------------- |
            | 401         | ACCESS_DENIED              | ApiKey missing, invalid or expired, or calling application not configured for this operation. |
            | 403         | ACCESS_DENIED              | User cannot perform this action. |
            | 404         | RESOURCE_NOT_FOUND         | Page not found. |
            | 429         | TOO_MANY_REQUESTS          | You have exceeded your application's [rate limit](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#rate-limits). |
  /common-health-questions:
    parameters:
      - $ref: "#/components/parameters/apiKey"
    get:
      summary: Get content from the common health questions hub
      operationId: get-common-health-questions
      description: |
        ## Overview

        The [Common health questions hub](https://www.nhs.uk/common-health-questions/) contains a number of navigational and content pages.

        The main page contains significant links to topic pages, which then contain significant links to the content pages.

        Content pages use the 'question' schema.org [question](https://schema.org/Question) property.

      responses:
        "200":
          description: |
            A valid query for the common health questions pages.
          headers:
            apiKey:
              $ref: "#/components/schemas/ApiKey"
          content:
            application/schema+json:
              schema:
                $ref: components/schemas/WebPage.json
              example:
                $ref: components/examples/CommonHealthQuestionsHubPage.json
        "4XX":
          description: |
            An error occurred as follows:

            | HTTP status | Error code                 | Description |
            | ----------- | -------------------------- | --------------------------------------------- |
            | 401         | ACCESS_DENIED              | ApiKey missing, invalid or expired, or calling application not configured for this operation. |
            | 403         | ACCESS_DENIED              | User cannot perform this action. |
            | 404         | RESOURCE_NOT_FOUND         | Page not found. |
            | 429         | TOO_MANY_REQUESTS          | You have exceeded your application's [rate limit](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#rate-limits). |
  /live-well:
    parameters:
      - $ref: "#/components/parameters/apiKey"
    get:
      summary: Get content from the Live Well hub.
      operationId: get-live-well
      description: |
        ## Overview

        The [Live Well hub](https://www.nhs.uk/live-well/) contains a number of navigational and content pages.

        The content of the page can be taken from the `mainEntityOfPage` part of the response. This includes the navigational links to child pages.

        At the top level, modularised content of child pages is highlighted by the `hasPart` field. In child pages, only the individual page is shown.
      responses:
        "200":
          description: |
            A valid query for the Live Well pages.
          headers:
            apiKey:
              $ref: "#/components/schemas/ApiKey"
          content:
            application/schema+json:
              schema:
                $ref: components/schemas/WebPage.json
              example:
                $ref: components/examples/LiveWellHubPage.json
        "4XX":
          description: |
            An error occurred as follows:

            | HTTP status | Error code                 | Description |
            | ----------- | -------------------------- | --------------------------------------------- |
            | 401         | ACCESS_DENIED              | ApiKey missing, invalid or expired, or calling application not configured for this operation. |
            | 403         | ACCESS_DENIED              | User cannot perform this action. |
            | 404         | RESOURCE_NOT_FOUND         | Page not found. |
            | 429         | TOO_MANY_REQUESTS          | You have exceeded your application's [rate limit](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#rate-limits). |
components:
  headers:
    apiKey:
      $ref: components/schemas/ApiKey.yaml
  parameters:
    apiKey:
      name: api_key
      in: query
      description: The API key required to send a successful request.
      required: true
      schema:
        type: string
        example: "11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA"
    startDate:
      name: start_date
      in: query
      description: Earliest date filter, works with orderBy.
      required: false
      schema:
        type: string
        example: "2020-01-01"
    endDate:
      name: end_date
      in: query
      description: Latest date filter, works with orderBy.
      required: false
      schema:
        type: string
        example: "2021-01-01"
    order:
      name: order
      in: query
      description: Order by newest or oldest.
      required: false
      schema:
        type: string
        example: "newest"
    page:
      name: page
      in: query
      description: Page number, used to filter paginated results.
      required: false
      schema:
        type: string
        example: "1"
    category:
      name: category
      in: query
      description: Filters child pages by letters A-Z.
      required: false
      schema:
        type: string
        example: "A"
    orderBy:
      name: order_by
      in: query
      description: works alongside startDate and endDate. Options are `dateModified`, `lastReviewed` and `nextReview`.
      required: false
      schema:
        type: string
        example: "lastReviewed"
    synonyms:
      name: synonyms
      in: query
      description: Include multiple listings for pages with more than one name.
      required: false
      schema:
        type: boolean
        example: true
    childArticles:
      name: child_articles
      in: query
      description: Include child pages of a topic within results under property subjectOf.
      required: false
      schema:
        type: boolean
        example: true
    status:
      name: status
      in: query
      description: Filter by "published" or "unpublished".
      required: false
      schema:
        type: string
        example: "published"
    modules:
      name: modules
      in: query
      description: If topic is modularised, only return these modules.
      required: false
      schema:
        type: boolean
        example: true
